@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<PersonDetailsDto>

@{
    ViewData["Title"] = "Detalhes da PESSOA";
}

<br />

<div class="d-flex justify-content-center">
    <div class="alert alert-dismissible alert-info">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<hr class="custom-hr" />


<div class="row justify-content-center">
    <div class="alert alert-dismissible alert-primary width-style3">
        <div class="container">
            <div class="row">

                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex align-items-center" style="position: relative; width: 80%;">
                        <div class="text-start" style="width: 50%;">
                            <div class="text-start">
                                <dl>
                                    <dt>
                                        <br />
                                        Nome:
                                        <br />
                                        <strong>@this.Model.Content?.Name</strong>
                                    </dt>
                                </dl>

                                <dl>
                                    <dt>
                                        Data de Nascimento:
                                        <br />
                                        <strong>@Html.DisplayFor(model => model.Content.BirthDate)</strong>
                                    </dt>
                                </dl>
                            </div>
                        </div>

                        <div style="width: 1px; background: #000 ; height: 100%; position: absolute; left: 50%;"></div>

                        <div class="text-center" style="width: 50%;">
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@this.Model.Content?.Id">Edit</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@this.Model.Content?.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        @if (this.Model.Content?.Jobs?.Count <= 0)
        {
            <div class="text-center">
                <div class="alert alert-dismissible alert-success width-style5" , style="margin-left: 50px">
                    Esta pessoa está em busca de uma nova experiência profissional.
                </div>
            </div>

        }
        else
        {

            <div class="alert alert-dismissible alert-secondary">
                <table class="table table-hover table-secondary">
                    <thead>
                        <tr>
                            <th>
                                Cargo
                            </th>
                            <th>
                                Empresa
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in this.Model.Content.Jobs)
                        {
                            <tr>
                                <td>
                                    @job.JobName
                                </td>
                                <td>
                                    @job.CompanyName - @job.Cnpj
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
</div>

<hr class="custom-hr" />

<div class="d-flex align-items-center" style="margin-left: 25%; width: 50%;">
    <a type="button" class="btn btn-outline-primary"
       asp-action="Index">
        <i class="bi bi-arrow-left"></i> Voltar à lista de pessoas
    </a>
</div>