@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<List<PersonDto>>


<div class="width-style1">
    @{
        ViewData["Title"] = "PESSOAS";
    }

    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">Adicionar nova Pessoa</a>
    </p>


    @if (this.Model.Content == null || this.Model.Content.Count <= 0)
    {
        <div class="alert alert-dismissible alert-primary width-style5">
            Nenhuma pessoa a ser exibida.
        </div>

        <hr class="custom-hr2" />
    }
    else
    {
        <div class="alert alert-dismissible alert-primary width-style1">

            <table class="table table-hover table-secondary text-center">
                <thead>
                    <tr>
                        <th>
                            <div class="text-start ps-4">
                                <strong style="font-size: 20px;">Nome</strong>
                            </div>
                        </th>
                        <th>
                            <div class="text-center">
                                <strong style="font-size: 20px;">Data de Nascimento</strong>
                            </div>
                        </th>
                        <th style="width: 300px;">
                            <div class="text-center">
                                <strong style="font-size: 20px; ">Ações</strong>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in this.Model.Content)
                    {
                        <tr>
                            <td>
                                <div class="text-start ps-4">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    @Html.DisplayFor(modelItem => item.BirthDate)
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    
        <hr class="custom-hr w-100" />
    }

    <div class="d-flex align-items-center" style="margin-left: 0%; width: 100%;">
        <a type="button" class="btn btn-outline-primary"
           asp-controller="Home"
           asp-action="Index">
            <i class="bi bi-arrow-left"></i> Volta à página inicial
        </a>
    </div>
</div>
