@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<List<WorkersJobsCompaniesReportDto>>

<div>
    @{
        ViewData["Title"] = "Relatório de funcionários";
    }

    <h2>@ViewData["Title"]</h2>

    <hr class="custom-hr w-100" />

    @if (this.Model.Content?.Any() == false)
    {
        <div class="alert alert-dismissible alert-primary width-style5">
            Nenhum dado a ser exibido.
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center alert alert-dismissible alert-primary">
            <table class="table table-hover table-secondary">
                <thead>
                    <tr>

                        <th>
                            <div class="text-start ps-4">
                                <strong style="font-size: 20px;">Nome</strong>
                            </div>
                        </th>

                        <th>
                            <div class="text-start">
                                <strong style="font-size: 20px;">Cargo</strong>
                            </div>
                        </th>

                        <th >
                            <div class="text-start">
                                <strong style="font-size: 20px; ">Empresa</strong>
                            </div>
                        </th>

                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < this.Model.Content.Count; i++)
                    {
                        var employee = this.Model.Content[i];

                        <tr>
                            <td>
                                <div class="text-start ps-4">
                                    @employee.PersonName
                                </div>
                            </td>

                            <td>
                                @foreach (var job in employee.JobsCompanies)
                                {
                                    <div class="text-start">
                                        <a type="button" class="btn btn-outline-primary"
                                           asp-controller="Jobs"
                                           asp-action="Edit"
                                           asp-route-id="@job.JobId">
                                            <i class="bi bi-pencil-square"></i> @Html.DisplayFor(modelItem => job.JobName)
                                        </a>
                                    </div>
                                }
                            </td>
                            
                            <td>
                                @foreach (var company in employee.JobsCompanies)
                                {                   
                                    <div class="width-style8">
                                        <a type="button" class="btn btn-outline-primary text-start"
                                           asp-controller="Companies"
                                           asp-action="Details"
                                           asp-route-id="@company.CompanyId">
                                            
                                            <div>
                                                <i class="bi bi-briefcase-fill me-2"></i> <strong>@Html.DisplayFor(modelItem => company.CompanyName)</strong>
                                                <br />
                                                <small><strong>CNPJ:</strong> @Html.DisplayFor(modelItem => company.Cnpj)</small>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <hr class="custom-hr w-100" />

    <div class="d-flex align-items-center" style="margin-left: 0%; width: 100%;">
        <a type="button" class="btn btn-outline-primary"
           asp-action="Index">
            <i class="bi bi-arrow-left"></i> Voltar à página de relatórios
        </a>
    </div>
</div>
