@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<JobPersonDeleteDto>

@{
    ViewData["Title"] = "Demitir FUNCIONÁRIO";
}

<br />

<div class="alert alert-dismissible alert-danger text-center">
    <h2>@ViewData["Title"]</h2>
</div>

<hr />

<div class="row alert alert-dismissible alert-primary text-center">
    <h4>
        Tem certeza que deseja demitir 
        <strong>@this.Model.Content?.Person.Name (@this.Model.Content?.Job.Name)</strong>?
    </h4>

    <form asp-action="Delete">
        <input name="JobId" type="hidden" value="@this.Model.Content?.Job.Id" />
        <input name="PersonId" type="hidden" value="@this.Model.Content?.Person.Id" />
        <input name="CompanyId" type="hidden" value="@this.Model.Content?.Job.CompanyId" />

        <input type="submit" value="Confirmar DEMISSÃO" class="btn btn-outline-danger" />
    </form>
</div>

<div>
    
    <hr />
    <a type="button" class="btn btn-outline-primary" asp-action="Index" asp-route-companyId="@this.Model.Content?.Job.CompanyId"> <i class="bi bi-arrow-left"></i> Voltar à lista de funcionários da empresa.</a>
</div>