@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<JobPersonIndexDto>

<div class="width-style1">
    @{
        ViewData["Title"] = "FUNCIONÁRIOS";
    }

    <h4>@ViewData["Title"]</h4>

    <p>
        <a asp-action="Create" asp-route-companyId="@this.Model.Content.CompanyId" class="btn btn-success">Adicionar novo Funcionário</a>
    </p>

    @if (this.Model.Content == null || this.Model.Content.JobPersons.Count <= 0)
    {
        <div class="alert alert-dismissible alert-primary width-style5">
            Nenhuma funcionário a ser exibido.
        </div>

        <hr class="custom-hr2" />
    }
    else
    {
        <div class="alert alert-dismissible alert-primary width-style1">
            <div class="accordion" id="accordionExample">

                @*     <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div> *@


                @for (int i = 0; i < this.Model.Content.JobPersons.Count; i++)
                {
                    var jobPersons = this.Model.Content.JobPersons[i];
                    <div class="row">
                        <div class="accordion-item col-11">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@i" aria-expanded="false" aria-controls="collapse-@i">
                                    <light style="font-size: 20px;">@jobPersons.Job.Name (@jobPersons.Persons.Count()) </light>
                                </button>
                            </h2>

                            <div id="collapse-@i" class="accordion-collapse collapse" aria-labelledby="heading-@i" data-bs-parent="#accordionExample" style="">
                                <div class="accordion-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <light style="font-size: 18px;">Nome</light>
                                                </th>
                                                <th>
                                                    <light style="font-size: 18px;">Ações</light>
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var person in jobPersons.Persons)
                                            {
                                                <tr>
                                                    <td>
                                                        <light style="font-size: 15px;">@person.Name</light>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <a class="btn btn-danger" asp-action="Delete" asp-route-companyId="@jobPersons.Job.CompanyId" asp-route-personId="@person.Id" asp-route-jobId="@jobPersons.Job.Id">Delete</a>
                                                        </div>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="col-1">

                            <a type="button" class="btn btn-success"
                               asp-controller="JobsPersons"
                               asp-action="Create"
                               asp-route-companyId="@this.Model.Content?.CompanyId"
                               asp-route-selectedJobId="@jobPersons.Job.Id">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </div>
                    </div>


                }

            </div>
        </div>

        <hr class="custom-hr w-100" />
 
        <form asp-action="DeleteAll" method="post" class="delete-all-form">
            <input name="CompanyId" type="hidden" value="@this.Model.Content?.CompanyId">
            <button type="submit" class="btn btn-danger btn-sm">
                <i class="bi bi-emoji-tear-fill"></i>  
            </button>
        </form>
    }

    <div class="d-flex align-items-center" style="margin-left: 0%; width: 50%;">
        <a type="button" class="btn btn-outline-primary"
           asp-controller="Companies"
           asp-action="Details"
           asp-route-id="@this.Model.Content?.CompanyId">
            <i class="bi bi-arrow-left"></i> Voltar à página de detalhes da empresa @this.Model.Content.CompanyName
        </a>
    </div>
</div>


