@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<CompanyDetailsDto>

@{
    ViewData["Title"] = "Detalhes da EMPRESA";
}

<br />

<div class="alert alert-dismissible alert-info">
    <h3>@ViewData["Title"]</h3>
</div>

<br />
<hr />
<br />

<div class="alert alert-dismissible alert-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <dl>
                    <dt>
                        <br />
                        Nome:
                        <br />
                        @this.Model.Content?.Name
                    </dt>
                </dl>

                <br />
                <dl>
                    <dt>
                        CNPJ:
                        <br />
                        @this.Model.Content?.Cnpj
                    </dt>
                </dl>
            </div>

            <div class="col-md-9 align-content-center border-start border-light ps-4">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@this.Model.Content?.Id">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@this.Model.Content?.Id">Delete</a>
            </div>
        </div>
    </div>

    <br />

    <div class="alert alert-dismissible alert-secondary">
        <a class="btn btn-outline-dark" asp-controller="Jobs" asp-action="Index" asp-route-companyId="@this.Model.Content?.Id">Cargos <strong>(@this.Model.Content?.JobsQty)</strong></a> |
        <a class="btn btn-outline-dark" asp-controller="JobsPersons" asp-action="Index" asp-route-companyId="@this.Model.Content?.Id">Funcionários <strong>(@this.Model.Content?.WorkersQty)</strong></a>
    </div>
</div>

<div>
    <br />
    <hr />
    <a asp-action="Index">Voltar à lista de empresas</a>
</div>