@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<List<CompanyDto>>

@{
    ViewData["Title"] = "EMPRESAS";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar nova Empresa</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                <strong style="font-size: 20px;">Nome</strong>
            </th>
            <th>
                <strong style="font-size: 20px;">Ações</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (this.Model.Content == null || this.Model.Content.Count <= 0)
        {
            <tr>
                <td colspan="2">
                    Nenhuma empresa a ser exibida.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in this.Model.Content)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

